
    <div class="heading-tabs">
        <div class="row">
            <div class="col-lg-8">
                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                  <li *ngFor="let option of options; let index=index"
                  class="ui-state-default ui-corner-top"
                    [ngClass]="{'ui-tabs-active ui-state-active' : (selectedIndex == index)}">
                    <a (click)="selectTab(index)">{{option}}</a>
                </li>
                </ul>
            </div>
            <div class="col-lg-4">
                  <div class="main-dark-button">
                      <a (click)="common.navigateTo('ticket-details')">Purchase Tickets</a>
                  </div>
            </div>
        </div>
    </div>
